.habilidades .container-habilidades {
    text-align: center;
    justify-content: center;
}

.habilidades .container-habilidades .habilidade {
    max-width: 350px;
    padding: 40px 20px;
}

.habilidades .container-habilidades .habilidade p,
.habilidades .container-habilidades .habilidade h3,
.habilidades .container-habilidades .habilidade .logo {
    transition: all 0.3s ease;
}

.habilidades .container-habilidades .habilidade h3 {
    color: var(--cor-primaria);
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
}

.habilidades .container-habilidades .habilidade p {
    font-size: 1.8rem;
    font-family: var(--fonte-segundaria);
}

.habilidades .container-habilidades .habilidade i {
    font-size: 8rem;
} 