.sobre-mim .imagem-sobre-mim {
    max-width: 40%;
    padding: 0 15px;
}

.sobre-mim .imagem-sobre-mim .img-box {
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.sobre-mim .imagem-sobre-mim .img {
    border: 10px solid transparent;
    border-radius: 15px;
}

.sobre-mim .informacoes-sobre-mim {
    max-width: 50%;
    padding: 0 25px;
}

.sobre-mim .informacoes-sobre-mim .botoes {
    margin-top: 50px;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.botao i {
    transition: 0.2s;
}

.botao:hover i {
    color: #fff;
    transform: scale(1.2);
}

.botao-cv {
    color: var(--cor-primaria);
}

@keyframes desloca {
    0% {
        left: -100px;
        top: 100%;
    }
    50% {
        left: 15%;
        top: -25%;
    }
    100%{
        left: 0;
        top: 0;
    }
}

@media(max-width: 1280px) {
    .sobre-mim .row {
        justify-content: center;
    }

    .sobre-mim .imagem-sobre-mim {
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim {
        padding: 0 var(--mobile-padding);
        text-align: center;
    }
}

@media(max-width: 768px) {
    .sobre-mim .informacoes-sobre-mim {
        max-width: 100%;
    }
}